.dialogue-button {
    width: 30%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 35px;
}

.dialogue-button:hover {
    transition-duration: 0.1s;
    scale: 1.2 1.2;
}

.dialogue-button:active {
    scale: 1.1 1.1;
    transition-duration: 0.1s;
}
